@import url(https://fonts.google.com/specimen/Ubuntu?query=ubu);

*{

    padding: 0;
    margin: 0;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;

}

body{

    background-color: #2a2929;

}

.bar{

    height: 6em;
    background-color: #00000063;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

}

.bar h1{

    font-size: 3em;
    margin-left: 0.5em;
    color: #F7CA18;

}

.bar a{

    margin-right: 1em;
    font-size: 1.5em;
    color: #F7CA18;

}